
.title-category{
    margin: 5px 2rem;
    .card{
        .card-body{
            i{
                margin: 0 1rem;
            }
        }
    }
}

.category-main-cont{
    margin: 1rem 2rem;
    //border: 2px solid red;
    ul{
        li{
            button{
                width: 120px;
            }
        }
    }
}

