.btn-table{

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    button{
        margin-right: 1rem;
    }
}

.grid-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    //border: 2px solid orange;
    div{
        width: 40%;
        padding: 2rem 3rem;
        font-size: 25px;
        i{
            font-size: 30px;
            margin: 0 1rem 0 0;
        }

    }
}

.grid-body{
    position:absolute;
    width: 98%;
    height: 457px;
    overflow: scroll;
    overflow-x: hidden;
    tr{
        display: inline-table;
        width: 98%;
        align-content: flex-start;
        td{
            max-width: 100px;
            text-align: start;
            overflow: hidden;
        }
        td:nth-child(1){
            width: 10%;
        }
        td:nth-child(2){
            width: 25%;
        }
        td:nth-child(3){
            width: 25%;
        }
        td:nth-child(4){
            width: 100%;
            max-width: 300px;
        }
        
    }
}